
@import "../core/reset.scss";
@import "../core/variables.scss";
@import "../core/mixins.scss";
.characters {
  font-family: $font-roboto;

  &__List {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: $background;
    color: $font;
  }
  &___Art {
    display: flex;
    justify-content: center;
    padding: 20px 0px 20px 0px;
    border-radius: 10px;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    box-shadow: 0 0 20px #8cf47c;
    align-items: center;
    justify-content: center;
    
    &___Info {
      background-color: $background;
      
  
    
    &--h3{
    display:flex;
    justify-content: center;
    text-decoration: none;
    font-family: $font-roboto;
    color: white;
  

    }
    &--p{
    text-decoration: none;
    font-family: $font-roboto;
    color: white;
    display:flex;
    justify-content: center;
    

    }
    }
    &--img{
      width:20px;
      height:20px;
      
    }
  }
}