
@import "../core/reset.scss";
@import "../core/variables.scss";
@import "../core/mixins.scss";

.characters {
  font-family: $font-roboto;
  

  &__List {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: $font;
    background-color: $background;
    
  }
  &___Art {
    display: flex;
    justify-content: center;
    padding: 20px 0px 20px 0px;
    border-radius: 10px;
    margin: 1.5rem;
    box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #0ba9ca, 0 0 15px #0ba9ca,
			0 0 27px #0ba9ca, 0 0 40px #0ba9ca;
    align-items: center;
    justify-content: center;
    background-color: $green;
    
    &___Info {
      background-color: $green;
      
  
    
    &--h3{
    display:flex;
    justify-content: center;
    text-decoration: none;
    font-family: $font-roboto;
    font-size: 24px;
    color: white;
    padding-top: 10px;
  

    }
    &--p{
    text-decoration: none;
    font-family: $font-roboto;
    font-size: 20px;
    color: white;
    display:flex;
    justify-content: center;
    

    }
    }
    &--img{
      width:20px;
      height:20px;
      
    }
  }
}