// fonts
$font-roboto: "Roboto", sans-serif;
$RM: "get_schwifty";

//colors
$background: black;
$font: white;
$blue: #08afc7;
$green: #7fc764;
$purple: #800080;
$l-green: #a4f59c;
$pink: #FF8FFF;
$white: #fff;


//sizes rem

$defaultFontSize: 16;
@function rem($pixels) {
  @return ($pixels / $defaultFontSize * 1rem);
}

